.test1 {
    background: url('img/symbol_middot_green.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 40px;
    border: 1px solid #999;
}

.test2 {
    background: url('../data_images/bird.png');
    height: 200px;
    display: block;
    width: 300px;
    background-repeat: no-repeat;
    border: 1px solid #999;
}

.test3 {
    background: url('/base64css/data_images/symbol_middot_green.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 40px;
    border: 1px solid #999;
}

.test4 {
    background: url('http://localhost/base64css/data_images/bird.png');
    display: block;
    height: 200px;
    display: block;
    width: 300px;
    background-repeat: no-repeat;
    border: 1px solid #999;
}